Connected Services/CallbackServiceReference/AhorcadoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.20.10.8:8093/AhorcadoService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PlayerInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="ProfilePic" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerInfoDTO" nillable="true" type="tns:PlayerInfoDTO" />
  <xs:complexType name="WordInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Difficult" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageID" type="xs:int" />
      <xs:element minOccurs="0" name="WordID" type="xs:int" />
      <xs:element minOccurs="0" name="WordText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordInfoDTO" nillable="true" type="tns:WordInfoDTO" />
  <xs:complexType name="MatchInfoDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GuessedLetters" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsGameOver" type="xs:boolean" />
      <xs:element minOccurs="0" name="MatchID" type="xs:int" />
      <xs:element minOccurs="0" name="Player1" nillable="true" type="tns:PlayerInfoDTO" />
      <xs:element minOccurs="0" name="Player2" nillable="true" type="tns:PlayerInfoDTO" />
      <xs:element minOccurs="0" name="RemainingAttempts" type="xs:int" />
      <xs:element minOccurs="0" name="Word" nillable="true" type="tns:WordInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchInfoDTO" nillable="true" type="tns:MatchInfoDTO" />
</xs:schema>