Connected Services/CallbackServiceReference/GameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.20.10.8:8093/AhorcadoService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.20.10.8:8093/AhorcadoService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.20.10.8:8093/AhorcadoService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameServices" />
      <xsd:import schemaLocation="http://172.20.10.8:8093/AhorcadoService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameManager_JoinMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinMatch" />
  </wsdl:message>
  <wsdl:message name="IGameManager_JoinMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManager_LeaveMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveMatch" />
  </wsdl:message>
  <wsdl:message name="IGameManager_LeaveMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManager_GuessLetter_InputMessage">
    <wsdl:part name="parameters" element="tns:GuessLetter" />
  </wsdl:message>
  <wsdl:message name="IGameManager_GuessLetter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuessLetterResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManager_OnPlayerJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerJoined" />
  </wsdl:message>
  <wsdl:message name="IGameManager_OnPlayerLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerLeft" />
  </wsdl:message>
  <wsdl:message name="IGameManager_OnMatchReady_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMatchReady" />
  </wsdl:message>
  <wsdl:message name="IGameManager_OnLetterGuessed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnLetterGuessed" />
  </wsdl:message>
  <wsdl:message name="IGameManager_OnGameOver_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnGameOver" />
  </wsdl:message>
  <wsdl:portType name="IGameManager">
    <wsdl:operation name="JoinMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManager/JoinMatch" message="tns:IGameManager_JoinMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/JoinMatchResponse" message="tns:IGameManager_JoinMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManager/LeaveMatch" message="tns:IGameManager_LeaveMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/LeaveMatchResponse" message="tns:IGameManager_LeaveMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuessLetter">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManager/GuessLetter" message="tns:IGameManager_GuessLetter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/GuessLetterResponse" message="tns:IGameManager_GuessLetter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/OnPlayerJoined" message="tns:IGameManager_OnPlayerJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/OnPlayerLeft" message="tns:IGameManager_OnPlayerLeft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMatchReady">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/OnMatchReady" message="tns:IGameManager_OnMatchReady_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnLetterGuessed">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/OnLetterGuessed" message="tns:IGameManager_OnLetterGuessed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnGameOver">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/OnGameOver" message="tns:IGameManager_OnGameOver_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameManager" type="tns:IGameManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="JoinMatch">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/JoinMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveMatch">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/LeaveMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuessLetter">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/GuessLetter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/OnPlayerJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/OnPlayerLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMatchReady">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/OnMatchReady" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnLetterGuessed">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/OnLetterGuessed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnGameOver">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/OnGameOver" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="NetTcpBinding_IGameManager" binding="tns:NetTcpBinding_IGameManager">
      <soap12:address location="net.tcp://172.20.10.8:8092/AhorcadoService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://172.20.10.8:8092/AhorcadoService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>