Connected Services/ServiceReference/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMainManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8084/Service?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8084/Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8084/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.DTOs" />
      <xsd:import schemaLocation="http://localhost:8084/Service?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainManager_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IMainManager_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_RegisterPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayer" />
  </wsdl:message>
  <wsdl:message name="IMainManager_RegisterPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_UpdatePlayerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerInfo" />
  </wsdl:message>
  <wsdl:message name="IMainManager_UpdatePlayerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_CreateMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatch" />
  </wsdl:message>
  <wsdl:message name="IMainManager_CreateMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_JoinMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinMatch" />
  </wsdl:message>
  <wsdl:message name="IMainManager_JoinMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetAvailableMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableMatches" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetAvailableMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetDifficults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDifficults" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetDifficults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDifficultsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetWords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWords" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetLanguages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguages" />
  </wsdl:message>
  <wsdl:message name="IMainManager_GetLanguages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManager_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IMainManager_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainManager">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/LogIn" message="tns:IMainManager_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/LogInResponse" message="tns:IMainManager_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/RegisterPlayer" message="tns:IMainManager_RegisterPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/RegisterPlayerResponse" message="tns:IMainManager_RegisterPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/UpdatePlayerInfo" message="tns:IMainManager_UpdatePlayerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/UpdatePlayerInfoResponse" message="tns:IMainManager_UpdatePlayerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchManager/CreateMatch" message="tns:IMainManager_CreateMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchManager/CreateMatchResponse" message="tns:IMainManager_CreateMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchManager/JoinMatch" message="tns:IMainManager_JoinMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchManager/JoinMatchResponse" message="tns:IMainManager_JoinMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableMatches">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchManager/GetAvailableMatches" message="tns:IMainManager_GetAvailableMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchManager/GetAvailableMatchesResponse" message="tns:IMainManager_GetAvailableMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryManager/GetCategories" message="tns:IMainManager_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryManager/GetCategoriesResponse" message="tns:IMainManager_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDifficults">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordManager/GetDifficults" message="tns:IMainManager_GetDifficults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordManager/GetDifficultsResponse" message="tns:IMainManager_GetDifficults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWords">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordManager/GetWords" message="tns:IMainManager_GetWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordManager/GetWordsResponse" message="tns:IMainManager_GetWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLanguages">
      <wsdl:input wsaw:Action="http://tempuri.org/ILanguageManager/GetLanguages" message="tns:IMainManager_GetLanguages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILanguageManager/GetLanguagesResponse" message="tns:IMainManager_GetLanguages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainManager/Ping" message="tns:IMainManager_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainManager/PingResponse" message="tns:IMainManager_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMainManager" type="tns:IMainManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IMainManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/RegisterPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerInfo">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/UpdatePlayerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchManager/CreateMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchManager/JoinMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableMatches">
      <soap12:operation soapAction="http://tempuri.org/IMatchManager/GetAvailableMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap12:operation soapAction="http://tempuri.org/ICategoryManager/GetCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDifficults">
      <soap12:operation soapAction="http://tempuri.org/IWordManager/GetDifficults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWords">
      <soap12:operation soapAction="http://tempuri.org/IWordManager/GetWords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLanguages">
      <soap12:operation soapAction="http://tempuri.org/ILanguageManager/GetLanguages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IMainManager/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="NetTcpBinding_IMainManager" binding="tns:NetTcpBinding_IMainManager">
      <soap12:address location="net.tcp://localhost:8083/Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8083/Service</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-7MMJ1218\fmontermi</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>