Connected Services/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerID" type="xs:int" />
      <xs:element minOccurs="0" name="ProfilePic" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SelectedLanguageID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalScore" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
  <xs:complexType name="MatchDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MatchID" type="xs:int" />
      <xs:element minOccurs="0" name="Player1" type="xs:int" />
      <xs:element minOccurs="0" name="Player2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      <xs:element minOccurs="0" name="WordID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchDTO" nillable="true" type="tns:MatchDTO" />
  <xs:complexType name="ArrayOfAvailableMatchDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvailableMatchDTO" nillable="true" type="tns:AvailableMatchDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvailableMatchDTO" nillable="true" type="tns:ArrayOfAvailableMatchDTO" />
  <xs:complexType name="AvailableMatchDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Difficulty" type="xs:int" />
      <xs:element minOccurs="0" name="MatchID" type="xs:int" />
      <xs:element minOccurs="0" name="WordCategory" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailableMatchDTO" nillable="true" type="tns:AvailableMatchDTO" />
  <xs:complexType name="ArrayOfCategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDTO" nillable="true" type="tns:CategoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDTO" nillable="true" type="tns:ArrayOfCategoryDTO" />
  <xs:complexType name="CategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDTO" nillable="true" type="tns:CategoryDTO" />
  <xs:complexType name="ArrayOfWordDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WordDTO" nillable="true" type="tns:WordDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWordDTO" nillable="true" type="tns:ArrayOfWordDTO" />
  <xs:complexType name="WordDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Difficult" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageID" type="xs:int" />
      <xs:element minOccurs="0" name="Word" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WordID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordDTO" nillable="true" type="tns:WordDTO" />
  <xs:complexType name="ArrayOfLanguageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LanguageDTO" nillable="true" type="tns:LanguageDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguageDTO" nillable="true" type="tns:ArrayOfLanguageDTO" />
  <xs:complexType name="LanguageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="LanguageID" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageDTO" nillable="true" type="tns:LanguageDTO" />
</xs:schema>