Connected Services/ServiceReference/Service54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AhorcadoServices.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AhorcadoServices.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlayerMatchHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerMatchHistoryDTO" nillable="true" type="tns:PlayerMatchHistoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerMatchHistoryDTO" nillable="true" type="tns:ArrayOfPlayerMatchHistoryDTO" />
  <xs:complexType name="PlayerMatchHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MatchID" type="xs:int" />
      <xs:element minOccurs="0" name="OpponentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayedWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="ResultName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerMatchHistoryDTO" nillable="true" type="tns:PlayerMatchHistoryDTO" />
</xs:schema>